---
layout: layout-base.njk
title: The Runic Edda
description: These are some of the characters of the adventure!
tags: ['pages']
date: '2025-06-10'
---

<div class="container container--center text-center">
  <h1>{{title}}</h1>
  <p>{{description}}</p>

 {% if characters.length %}
    <section aria-label="Characters" class="edda-characters">
      <div class="grid">
        {% for character in characters %}
          <article class="edda-character">
            <a href="/characters/{{ character.name | lower | replace(' ', '-') }}/">
              <figure class="edda-figure">
                <img
                  aria-hidden="true"
                  width="128"
                  height="128"
                  src="{{ character.fileUrl }}"
                  alt="Portrait of {{ character.name }}"
                  style="--vt: {{ character.name | lower | replace(' ', '-') }}"
                />
              </figure>
            </a>
            <span>{{ character.name }}</span>
          </article>
        {% endfor %}
      </div>
    </section>
  {% else %}
    <p>No characters found.</p>
  {% endif %}
</div>
